@import '../../../features/mixin.scss';

    .btn_cont{
        display: block;
        width: fit-content;
        padding: 6px 30px;
        border-radius: 3px;
        background-color: var(--bg-element);
        @include element-radius-and-shadow;
        .icon{
            margin-right:10px;
        }
    }
 
    @media (hover:hover){
        .btn_cont:hover{
            @include hover-InvertColor
        }
    }
