.wrapper{
    width: fit-content;
    &:hover{
        transform: scale(1.02);
    }
    .btn_cont{
        padding: 6px 30px;
        border-radius: 3px;
        background-color: var(--bg-element);
        box-shadow: 0px 0px 20px -10px var(--shadow);
        .icon{
            margin-right:10px;
        }
    }
}
