
.list_wrapper{
    width:fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap:30px;
    margin-top: 40px;
}

@media screen and (min-width:576px){
    .list_wrapper{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width:768px){
    .list_wrapper{
        grid-template-columns: 1fr 1fr 1fr;    
    }
}

@media screen and (min-width:992px){
    .list_wrapper{
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
      gap: 60px;
      margin-top: 50px;
    }
}
@media screen and (min-width:1200px){
    .list_wrapper{
        gap:70px;
    }
}

