@import '../../../features/mixin.scss';

.darkMode_btn{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    svg{
       margin-right: 8px;
       height: 18px;
       transform: rotate(-20deg);
    }
}

@media screen and (min-width:768px){
    .darkMode_btn{
       font-size: 16px;
    }
}

@media (hover:hover){
    .darkMode_btn:hover{
        @include hover-InvertColor;
        padding: 5px 10px;
        @include element-radius-and-shadow;
    }
}