@import './features/variable';

// color
:root{
    //light mode color
    --background: #{$whiteDark};
    --bg-element: #{$white};
    --text: #{$darkBlue};
    --text-input: #{$gray};
    //common
    --shadow: #{$darkBlue};
}
 
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text);
    background-color: var(--background);
    button, input{
        cursor: pointer;
        font-family: 'Nunito Sans', sans-serif;
        border: none;
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;
        color:var(--text);
    }
    a{
        text-decoration: none;
        color: var(--text);
        -webkit-tap-highlight-color: transparent;
    }
    .App{
        max-width: 2000px;
        margin: 0 auto;
    }
}


@mixin hover-button {
    color: var(--bg-element);
    background-color: var(--text);
    transition: all .3s linear;
}
